# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Test
test.txt

# Log
*.log
*.log.*
log
# *.json
# *.txt

# Editor
*.swp

# Other
.DS_Store
wandb
output

# Data
*.pkl
*.csv

# Build
build

# VSCode
.vscode

# Misc
tmp
raw_data
log
*.pt
*.pth
data

# We do not public our OpenAI API-Key
sample_configs/engine/azure-openai*
# But we provide an example config
!sample_configs/engine/openai-example-config.json