# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
log
# *.json
*.txt

# Editor
*.swp

# Other
.DS_Store
wandb
output

# Data
*.pkl
*.csv

# Build
build

# VSCode
.vscode

# Misc
tmp
raw_data
log
*.pt
*.pth
data

# We do not public our OpenAI API-Key
configs/engine/openai/*.json
# But we provide an example config
!configs/engine/openai/openai-example-config.json